extends layout

block hero-unit
  .jumbotron
    .container
      h1 Project_AirBnB

block content
  .container
    .row
      .col-md-6
        h3 웹 기능
        p 본 사이트는 유사 airbnb 기능을 구현해냈습니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 숙소 예약 및 숙소 상세 정보 확인
          li 호스트 기능
          li 사용자 목록 관리 


